.footer {
  height: 156px;
  margin-top: 50px;
  background-color: #faf2ed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer p {
  font-family: "TS-Med", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.footer a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}
.footer a:hover {
  color: #35e0a1;
}
.footer img {
  height: 42px;
}
