header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

header img {
  width: 190px;
}
header nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
header nav a {
  text-decoration: none;
  padding: 10px;
}
.icon-header-nav {
  display: flex;
  align-items: center;
}
header nav a:hover {
  background-color: lightgrey;
  border-radius: 20px;
}
.header-text {
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
}
header nav i {
  color: black;
  font-size: 24px;
}
.btn-signup {
  color: #ffffff;
  background-color: black;
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 10px;
}

.header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
