.guides {
  display: flex;
  overflow: scroll;
  gap: 20px;
  margin-bottom: 120px;
}

.guides::-webkit-scrollbar {
  display: none;
}
.guides {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carroussel-guides {
  flex-shrink: 0;
  width: calc((100% - 40px) / 3);
}

.carroussel-guides > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 6px;
}

.carroussel-guides > h4 {
  font-family: "TS-Med";
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 6px;
}

.carroussel-guides > p {
  font-family: "TS-Reg";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}

.article-source {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "TS-Reg", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-source img {
  width: 25px;
}
.article-source a {
  text-decoration: none;
  color: #333333;
  font-family: "TS-Med", sans-serif;
  font-weight: bold;
}
