.unmissable {
  margin-bottom: 120px;
}

.unmissable-first {
  display: flex;
  margin-bottom: 40px;
}

.unmissable-first aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

.unmissable-second {
  display: flex;
  margin-bottom: 40px;
}
.unmissable-second aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

/* --- --- */

aside p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-size: 18px;
  line-height: 22px;
}
aside a {
  font-family: "TS-Med", sans-serif;
  color: #545454;
  font-size: 16px;
  line-height: 18px;
}

.carrousel {
  flex: 3;
  gap: 15px;
  display: flex;
  overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.carrousel::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.carrousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carrousel articles {
  flex-shrink: 0;
  width: calc((100% - 30px) / 3);
}

.carrousel-picture-container {
  height: 200px;
  position: relative;
}
.carrousel-picture-container > img {
  height: 195px;
  width: 100%;
  object-fit: cover;
}

.carrousel p {
  font-family: "TS-Reg";
  font-size: 14px;
  line-height: 16.8px;
  margin-top: 6px;
}
.carrousel h4 {
  font-family: "TS-Med";
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 3px;
}
.carrousel span {
  font-family: "TS-Reg";
  font-size: 12px;
  line-height: 14px;
  margin-right: 8px;
}
.rating {
  font-size: 20px;
  line-height: 20px;
  color: #00aa6c;
}

.heart {
  background-color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

.badge {
  background-color: #35e0a1;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px 25px 5px 5px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
.badge > img {
  width: 20px;
}
.badge > p {
  font-family: "TS-Med", sans-serif;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 2px;
}
