.description {
  display: flex;
  height: 472px;
  margin-bottom: 80px;
}
.description-col {
  width: 50%;
}
.voyage-col {
  width: 50%;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
}
.voyage-col div {
  background-color: #ff5d5d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 32px;
}
.voyage-col h3 {
  font-family: "TS-Med";
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 20px;
}
.voyage-col p {
  font-family: "TS-Reg";
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}
.voyage-col button {
  background-color: black;
  color: #ffffff;
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 54px;
  width: 154px;
  padding: 1px 6px;
  border-radius: 10px;
  border: none;
}
.voyage-col button:hover {
  background-color: #333333;
  cursor: pointer;
}

.map-picture {
  width: 100%;
  height: 190px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;
}
