/* @import "./tablet.css" screen and (max-width: 1024px); */
@import "./wrapper.css";
@import "./body-globals.css";
@import "./header.css";
@import "./main-intro.css";
@import "./main-description.css";
@import "./main-articles.css";
@import "./main-guides.css";
@import "./footer.css";
@import "./screen-desktop.css" screen and (max-width: 1184px);
@import "./screen-tablet.css" screen and (max-width: 1024px);
