/* @import "./tablet.css" screen and (max-width: 1024px); */

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

body {
  background-color: #ffffff;
}

h1 {
  font-family: "TS-Med", sans-serif;
  color: black;
  font-size: 54px;
  font-weight: bold;
  line-height: 70px;
  letter-spacing: 1.1px;
  padding-top: 20px;
}
h1 > span {
  color: #ff5d5d;
}

h2 {
  font-family: "TS-Med", sans-serif;
  color: black;
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  letter-spacing: 0.6px;
  margin-bottom: 30px;
}

h3 {
  font-family: "TS-Med", sans-serif;
  color: black;
  font-size: 24px;
  line-height: 20px;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #333333;
  font-size: 20px;
  line-height: 24px;
}

/* --- HEADER --- */

header {
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

header img {
  width: 190px;
}
header nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
header nav a {
  text-decoration: none;
  padding: 10px;
}
.icon-header-nav {
  display: flex;
  align-items: center;
}
header nav a:hover {
  background-color: lightgrey;
  border-radius: 20px;
}
.header-text {
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: black;
}
header nav i {
  color: black;
  font-size: 24px;
}
.btn-signup {
  color: #ffffff;
  background-color: black;
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: none;
  padding: 10px;
}

.header-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

/* --- MAIN --- */

main {
  margin-top: 60px;
}

/* --- MAIN MENU ---*/

.menu .hidden {
  display: none;
}

.baseline {
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin-bottom: 30px;
}
.baseline a {
  color: #333333;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
}
.category {
  border: black solid 1px;
  height: 66px;
  width: 175px;
  border-radius: 15px;
  padding: 12px 15px;
  display: flex;
  justify-content: space-between;
}
.category span {
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
  line-height: 20px;
}
.category i {
  font-size: 24px;
}

/* --- MAIN PICTURES ---*/

.pictures {
  height: 430px;
  display: flex;
  gap: 3px;
  border: black solid 2px;
}

.main-picture {
  flex: 4;
  display: flex;
  position: relative;
}
.main-picture > img {
  /* flex: 4; */
  /* height: 100%; */
  width: 100%;
}

.pictures > div {
  flex: 3;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.pictures > div > img {
  /* width: 480px; */
  height: calc(50% - 1px);
  object-fit: cover;
}

.icon-main-picture {
  color: white;
  background-color: black;
  height: 36px;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-size: 12px;
  font-family: "TS-Reg", sans-serif;
  border-radius: 20px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
}
.icon-main-picture:hover {
  background-color: #333333;
}

/* --- LOCATION --- */

.location {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 40px;
}
.location span {
  font-family: "TS-Reg";
  font-size: 12px;
  line-height: 16px;
}
.location i {
  font-size: 12px;
}
.location-select {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* --- DESCRIPTION --- */

.description {
  display: flex;
  height: 472px;
  margin-bottom: 80px;
}
.description-col {
  width: 50%;
}
.voyage-col {
  width: 50%;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
}
.voyage-col div {
  background-color: #ff5d5d;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 32px;
}
.voyage-col h3 {
  font-family: "TS-Med";
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 20px;
}
.voyage-col p {
  font-family: "TS-Reg";
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 24px;
}
.voyage-col button {
  background-color: black;
  color: #ffffff;
  font-family: "TS-Reg", sans-serif;
  font-size: 16px;
  line-height: 20px;
  height: 54px;
  width: 154px;
  padding: 1px 6px;
  border-radius: 10px;
  border: none;
}
.map-picture {
  width: 100%;
  height: 190px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  object-fit: cover;
}

/* --- ARTICLES --- */

.unmissable {
  margin-bottom: 120px;
}

.unmissable-first {
  display: flex;
  margin-bottom: 40px;
}

.unmissable-first aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

.unmissable-second {
  display: flex;
  margin-bottom: 40px;
}
.unmissable-second aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-right: 20px;
}

/* --- --- */

aside p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-size: 18px;
  line-height: 22px;
}
aside a {
  font-family: "TS-Med", sans-serif;
  color: #545454;
  font-size: 16px;
  line-height: 18px;
}

.carrousel {
  flex: 3;
  gap: 15px;
  display: flex;
  overflow: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.carrousel::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.carrousel {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carrousel articles {
  flex-shrink: 0;
  width: calc((100% - 30px) / 3);
}

.carrousel-picture-container {
  height: 200px;
  position: relative;
}
.carrousel-picture-container > img {
  height: 195px;
  width: 100%;
  object-fit: cover;
}

.carrousel p {
  font-family: "TS-Reg";
  font-size: 14px;
  line-height: 16.8px;
  margin-top: 6px;
}
.carrousel h4 {
  font-family: "TS-Med";
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 3px;
}
.carrousel span {
  font-family: "TS-Reg";
  font-size: 12px;
  line-height: 14px;
  margin-right: 8px;
}
.rating {
  font-size: 20px;
  line-height: 20px;
  color: #00aa6c;
}

.heart {
  background-color: white;
  text-align: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

.badge {
  background-color: #35e0a1;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px 25px 5px 5px;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
.badge > img {
  width: 20px;
}
.badge > p {
  font-family: "TS-Med", sans-serif;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 2px;
}

/* --- GUIDES --- */

.guides {
  display: flex;
  overflow: scroll;
  gap: 20px;
  margin-bottom: 120px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.guides::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.guides {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.carroussel-guides {
  flex-shrink: 0;
  width: calc((100% - 40px) / 3);
}

.carroussel-guides > img {
  height: 350px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 6px;
}

.carroussel-guides > h4 {
  font-family: "TS-Med";
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 6px;
}

.carroussel-guides > p {
  font-family: "TS-Reg";
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 6px;
}

.article-source {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: "TS-Reg", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-source img {
  width: 25px;
}
.article-source a {
  text-decoration: none;
  color: #333333;
  font-family: "TS-Med", sans-serif;
  font-weight: bold;
}

/* --- FOOTER --- */

.footer {
  height: 156px;
  margin-top: 50px;
  background-color: #faf2ed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer p {
  font-family: "TS-Med", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.footer span {
  font-weight: bold;
  color: black;
}

.footer img {
  height: 42px;
}

/* --- RESPONSIVE --- */

@media (max-width: 1184px) {
  .menu {
    flex-wrap: wrap;
    gap: 10px;
  }

  .menu .hidden {
    display: flex;
  }

  .category {
    flex: 0 0 calc(25% - (30px / 4));
    height: auto;
  }

  .pictures {
    height: 370px;
    gap: 3px;
  }

  .main-picture {
    flex: 5;
    display: flex;
    position: relative;
  }
}

@media (max-width: 1024px) {
  .header-text {
    display: none;
  }
}
